.wrapper {
    padding: 20px;
    background-color: white;
    height: 90vh;
}

.textarea {
    width: 100%;
    max-width: 600px;
    height: 200px;
    max-height: 500px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.output-wrapper {
    width: 100%;
    max-width: 600px;
}

.pair {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}